<footer>
	<div class="container">
		<div class="pleft"> <a href='#'>Privacy Policy</a> <a href='#'>Sitemap</a> <a href='#'>Disclaimer</a> </div>
		<div class="pright">&copy; Monthly Club 2014</div>
	</div>
</footer>
