<div id="receipt">	
	<div class="container">
		<div class="sign_up pd20 pcenter">
			<h2 class="pcenter">Thanks for your Order</h2><hr/>

			<%= render "details", :order => @order %>	
		</div>
	</div>
</div>
