<div class="container white-font">
	<div class="mg10 thmcolor pd30">
		<h1 class="pcenter under-construct"><span class='pd20'>Under Construction !!</span></h1>
		<h3 class="pcenter under-construct"><span class='pd20'>We are so thankful for your patience :)</span></h3>
		<div class="dualgear">
			<span class='gearOuter'></span>
			<span class='gearInner'></span>
		</div>			
	</div>
</div>