<div class="container white-font">
	<div class="mg10 thmcolor pd30">
		<h1 class="pcenter under-construct"><span class='pd20'>About Club</span></h1>
		<center><h3 class="pcenter under-construct">With over 6 clubs, our Month Clubs offer something for everyone. Our Club is the first of its kind, essentially redefining the month club concept. How do we do it? As a large network, we maintain huge collaborations with expert retailers, marketing and ecommerce and various other partners who are enthusiasts and active in their respective fields. Their combined experience crafted with efforts help us in providing our customers with the highest level of quality products and best customer service and satisfaction. We consider our business relationships to be the at most key element for our success over others. We welcome any kind of queries, May it be related to the products, staff etc. through our new “Punch a Query” link:)</h3></center>
		<div class="dualgear">
			<span class='gearOuter'></span>
			<span class='gearInner'></span>
		</div>			
	</div>
</div>